@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


:root {
	--font-body: 'Jost';
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(241, 233, 210);
	--color-bg-1: hsl(45, 53%, 88%);
	--color-bg-2: hsl(45, 53%, 88%);
	--color-theme-1: #ea6301;
	--color-theme-2: #f9f1e4;
    --color-theme-3: #6f0bd8;
	--color-text: rgb(27, 26, 22);
	--color-text-2: rgb(221, 226, 235);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	font-weight: 100;
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	box-sizing: border-box;
}

h2{
	font-family: 'Unbounded';
	font-size: 2em;
}

a{
    font-weight: 100;
    color: var(--color-theme-1);
}

p{
    font-size: 1rem;
}

.section-contents{
    transition: all 500ms;
    position: relative;
    overflow: visible;
	display: flex;
	flex-direction: column;
	padding: 1.8rem;
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	box-sizing: border-box;
	font-weight: 100;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 1px;
    overflow: hidden;
}  
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 4px;
}

.featured-card-list {
    display: flex;
    margin-block: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: default;
}

.card-section1{
    overflow: hidden;
    min-width: max-content;
    height: 5px; 
    border-radius: 8px;
    background: radial-gradient( #e67e15, #d1aaa5, #d9779f, #ef44b8, #87b7da, #a887dd, #03cbbb);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.featured-card {
	min-height: max-content;
    min-width: 200px;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0px; 
    background-color: var(--color-theme-2);
    overflow: hidden;
}

.card-header p {
    font-weight: 500;
    font-size: 13px;
    margin: 0 0 .5rem;
    color: #0e1011;
    font-family: 'Unbounded';
}

.card-header h2 {
    font-size: 20px;
    font-family: 'Aoboshi One', serif;
    font-weight: 100;
    margin: .30rem .10rem 1rem;
    text-decoration: none;
    color: #0e1011;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.logos{
	overflow: hidden;
	padding: 30px 0;
	white-space: nowrap;
}

.logos-slide {
	display: inline-block;
	animation: infiniteScroll 6s infinite linear;
}

.logos-slide img {
	height: 60px;
    width: 60px;
	margin: 0 40px;
	filter: sepia(1);
}

@keyframes infiniteScroll {
    from   { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }